.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    justify-items: center;
    border: 1px solid black;
    grid-gap: 1px;
    padding: 10px;
    position: absolute;
    background-color: whitesmoke;
}

.calendar div {
    /* border: 1px solid black;*/
    width: 100%;
}

.calendar_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / 8;
    width: 100%;
}

.arrow {
    cursor: pointer;
}

.selectWrapper {
    display: flex;
    justify-content: flex-end;
}

.cell {
    cursor: pointer;
    text-align: center;
    background-color: rgb(240, 240, 240);
    border-bottom: 1px rgb(220, 220, 220) solid;
    border-right: 1px rgb(220, 220, 220) solid;
}

.daysOfWeek {
    border: 1px rgb(220, 220, 220) solid;
    border-bottom: none;
}

.selectedCell {
    background-color: #33aaff;
    color: white;
}

.todayCell {
    font-weight: bolder;
}

.cell:hover {
    background-color: #FF8000;
}